In [1]:
import pandas as pd
import numpy as np

In [2]:

v1 = np.arange(1,100,10) # Creating a vector (array) with arange function
print(v1)
v2 = np.arange(1,100,100/8)  # Creating a vector (array) with arange function evenly spaced 100/8
print (v2.reshape(4,2)) # Reshaping v2 into a matrix.

[ 1 11 21 31 41 51 61 71 81 91]
[[ 1.  13.5]
 [26.  38.5]
 [51.  63.5]
 [76.  88.5]]

In [3]:
df = pd.read_csv('./csv/customerData.csv') # Reading CSV file.
print (df.describe)
print (df.shape)

<bound method NDFrame.describe of       custid sex is_employed  income        marital_stat  health_ins  \
0       2068   F         NaN   11300             Married        True
1       2073   F         NaN       0             Married        True
2       2848   M        True    4500       Never Married       False
3       5641   M        True   20000       Never Married       False
4       6369   F       False   12000       Never Married        True
..       ...  ..         ...     ...                 ...         ...
995  1411132   F       False   46000  Divorced/Separated        True
996  1411860   F         NaN    5400             Widowed        True
997  1412161   M        True   38500             Married        True
998  1412971   M         NaN   43400             Married        True
999  1414286   F       False   20900             Married       False

                 housing_type recent_move  num_vehicles   age  state_of_res
0    Homeowner free and clear       False           2.0  49.0      Michigan
1                      Rented        True           3.0  40.0       Florida
2                      Rented        True           3.0  22.0       Georgia
3       Occupied with no rent       False           0.0  22.0    New Mexico
4                      Rented        True           1.0  31.0       Florida
..                        ...         ...           ...   ...           ...
995                    Rented        True           1.0  56.0       Florida
996                       NaN         NaN           NaN  89.0  Pennsylvania
997                    Rented        True           1.0  29.0       Georgia
998  Homeowner free and clear       False           1.0  88.0          Ohio
999                    Rented       False           2.0  36.0      New York

[1000 rows x 11 columns]>
(1000, 11)

In [4]:
new = df.iloc[0::10, 0::2]
print(new)

      custid is_employed        marital_stat                  housing_type  \
0       2068         NaN             Married      Homeowner free and clear
10     16551         NaN             Married  Homeowner with mortgage/loan
20     27445        True       Never Married                        Rented
30     40132        True             Married  Homeowner with mortgage/loan
40     52197         NaN             Married      Homeowner free and clear
..       ...         ...                 ...                           ...
950  1358975       False  Divorced/Separated  Homeowner with mortgage/loan
960  1369460        True       Never Married      Homeowner free and clear
970  1380075         NaN             Widowed  Homeowner with mortgage/loan
980  1393715       False       Never Married                        Rented
990  1407895        True             Married  Homeowner with mortgage/loan

     num_vehicles    state_of_res
0             2.0        Michigan
10            2.0         Georgia
20            2.0         Florida
30            3.0        Illinois
40            2.0         Florida
..            ...             ...
950           1.0  North Carolina
960           3.0    North Dakota
970           1.0      New Jersey
980           1.0        Nebraska
990           2.0          Hawaii

[100 rows x 6 columns]

In [5]:
print (df.shape)
print (df.size)

(1000, 11)
11000

In [6]:
df_age = df.loc[(df['age'] >= 38) & (df['age'] <= 50)] # loc age range between 38 and 50.
print (df_age)

      custid sex is_employed  income   marital_stat  health_ins  \
0       2068   F         NaN   11300        Married        True
1       2073   F         NaN       0        Married        True
5       8322   F       False  180000  Never Married        True
6       8521   M        True  120000  Never Married        True
7      12195   M        True   40000        Married        True
..       ...  ..         ...     ...            ...         ...
972  1386114   M        True   40000        Married        True
974  1388751   F       False   39000        Married        True
977  1392011   F        True  402000        Married        True
980  1393715   F       False   25500  Never Married        True
991  1407916   M        True   30000  Never Married        True

                     housing_type recent_move  num_vehicles   age state_of_res
0        Homeowner free and clear       False           2.0  49.0     Michigan
1                          Rented        True           3.0  40.0      Florida
5    Homeowner with mortgage/loan       False           1.0  40.0     New York
6        Homeowner free and clear        True           1.0  39.0        Idaho
7                          Rented       False           3.0  48.0     Michigan
..                            ...         ...           ...   ...          ...
972                        Rented       False           2.0  41.0        Texas
974  Homeowner with mortgage/loan       False           3.0  45.0    Minnesota
977      Homeowner free and clear       False           1.0  50.0     Virginia
980                        Rented       False           1.0  48.0     Nebraska
991  Homeowner with mortgage/loan       False           1.0  46.0    Louisiana

[276 rows x 11 columns]

In [7]:
df_numerical_columns = df.loc[(df['age'] >= 50), ('custid', 'income', 'num_vehicles', 'age')]
print (df_numerical_columns) # locing for age over 50 and columns (by name).

      custid  income  num_vehicles   age
9      15917   24000           1.0  70.0
12     17946   85000           1.0  51.0
13     18487   89200           1.0  63.0
15     22295   14400           3.0  54.0
16     25863   41000           1.0  70.0
..       ...     ...           ...   ...
993  1408913    1000           0.0  60.0
994  1409249   36200           5.0  73.0
995  1411132   46000           1.0  56.0
996  1411860    5400           NaN  89.0
998  1412971   43400           1.0  88.0

[512 rows x 4 columns]

In [8]:
df_new_columns = df[df['age'] > 50] # Creating a new df for age over 50
df_new_columns = df_new_columns.iloc[:,[0,3,8,9]] # ilocing the new df for the wanted columns (numerical)
print (df_new_columns)

      custid  income  num_vehicles   age
9      15917   24000           1.0  70.0
12     17946   85000           1.0  51.0
13     18487   89200           1.0  63.0
15     22295   14400           3.0  54.0
16     25863   41000           1.0  70.0
..       ...     ...           ...   ...
993  1408913    1000           0.0  60.0
994  1409249   36200           5.0  73.0
995  1411132   46000           1.0  56.0
996  1411860    5400           NaN  89.0
998  1412971   43400           1.0  88.0

[486 rows x 4 columns]

In [9]:
df_first_head = df_new_columns.loc[:, ['age']].head(100)
print (df_first_head)
if isinstance(df_first_head, pd.DataFrame): # Checking if it is indeed data frame type.
    print (2)
else:
    print (3)

           age
9     70.00000
12    51.00000
13    63.00000
15    54.00000
16    70.00000
..         ...
201   77.00000
205   76.00000
209   55.00000
212  137.70003
213   75.00000

[100 rows x 1 columns]
2

In [10]:
print (df.loc[((df['marital_stat'] == 'Divorced/Separated') | (df['marital_stat'] == 'Married')) & (df['age'] < 18)]['custid'])
#Q9a
print('mean: ',df.loc[(df['income'] > 16000) & (df['state_of_res'] == 'Washington')]['age'].mean())
#Q9b
print('Max: ',df.loc[(df['income'] > 16000) & (df['state_of_res'] == 'Washington')]['age'].max())
#Q9c
print('Min income: ',df.loc[(df['income'] > 16000) & (df['state_of_res'] == 'Washington')]['income'].min())
#Q9d
print(len(df[(df['income'] > 16000) & (df['state_of_res'] == 'Washington')]))

667     931449
868    1229417
965    1375846
Name: custid, dtype: int64
mean:  54.03089266923077
Max:  130.4016047
Min income:  19200
13

In [11]:
#Q10a
df.groupby(['sex'])['housing_type'].describe()
# Most frequent female housing type is Rented.(200)
#Q10b
# Most frequent male housing type is Homeowner with mortage/loan(256).

    count unique                           top freq
sex
F     425      4                        Rented  200
M     519      4  Homeowner with mortgage/loan  256